<suite name="Test Suite">
    <test name="Test 1" enabled="true">
        <classes>
            <class name="io.techleadacademy.testNG_Jan11.TestTags">
                <methods>
                    <exclude name="logInPerformanceTest1"/>
                </methods>
            </class>
            <class name="io.techleadacademy.testNG_Jan11.Math" enable="false"/>
        </classes>
    </test>
    <test name="Smoke Test" enabled="false">
        <packages>
        <package name="io.techleadacademy.testNG_Jan11"/>
        </packages>
    </test>
</suite>